n8n/lakehouse-UI.json
{
  "name": "lakehouse-UI",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Output must be: { body: \"<html>...</html>\" }\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n  <title>LakeHouse Demo</title>\n  <style>\n    body { font-family: Arial, sans-serif; background: #f4f6f8; padding: 24px; }\n    .container {\n      max-width: 1100px; margin: auto; background: #fff; padding: 22px 24px;\n      border-radius: 16px; box-shadow: 0 10px 30px rgba(0,0,0,0.08);\n    }\n    h1 { margin: 0 0 6px 0; font-size: 34px; }\n    .topRow { display:flex; align-items:center; justify-content:space-between; gap:14px; flex-wrap:wrap; }\n\n    .tabs { display:flex; gap:10px; margin-top: 14px; flex-wrap:wrap; }\n    .tab {\n      border:1px solid #eee; background:#f7f7f7; padding:10px 14px;\n      border-radius: 12px; cursor:pointer; font-weight: 800;\n      user-select:none;\n    }\n    .tab.active { background:#111; color:#fff; border-color:#111; }\n\n    .panel { display:none; margin-top: 18px; }\n    .panel.active { display:block; }\n\n    .divider { height:1px; background:#eee; margin: 16px 0; }\n\n    .grid { display:grid; grid-template-columns: 1fr 1fr 1fr; gap: 14px 18px; margin-top: 12px; }\n    .grid2 { display:grid; grid-template-columns: 1fr 1fr; gap: 14px 18px; margin-top: 12px; }\n\n    .field { display:flex; flex-direction:column; gap:8px; }\n    label { font-weight: 800; color:#111; font-size: 14px; }\n    input[type=\"number\"], select, input[type=\"file\"] {\n      padding: 10px; border-radius: 12px; border: 1px solid #ddd; background:#fff;\n      font-size: 14px;\n    }\n\n    .actions { margin-top: 14px; display:flex; align-items:center; gap: 12px; flex-wrap:wrap; }\n    button.primary {\n      padding: 10px 16px; border: none; border-radius: 12px; cursor: pointer;\n      background: #111; color: #fff; font-weight: 900;\n    }\n    button.ghost {\n      padding: 10px 16px; border: 1px solid #ddd; border-radius: 12px; cursor: pointer;\n      background: #fff; color: #111; font-weight: 900;\n    }\n\n    .mini { font-size: 12px; color:#666; }\n\n    .row { display:flex; gap:16px; flex-wrap:wrap; margin-top: 16px; }\n    .card {\n      flex: 1; min-width: 360px; background:#fbfbfb; border:1px solid #eee;\n      border-radius:14px; padding:16px; overflow:hidden;\n    }\n\n    .badge {\n      display:inline-block; padding:8px 12px; border-radius:999px;\n      color:white; font-weight:900; letter-spacing:0.4px; font-size: 12px;\n    }\n    .good { background: #0a8f3c; }\n    .bad  { background: #d11a2a; }\n    .unknown { background:#666; }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 10px;\n      font-size: 13px;\n      table-layout: fixed;\n    }\n    th, td {\n      border-bottom: 1px solid #eee;\n      padding: 8px 6px;\n      text-align: left;\n      vertical-align: top;\n      overflow-wrap: anywhere;\n      word-break: break-word;\n    }\n    th { background: #f4f6f8; font-weight: 900; }\n\n    details summary { cursor:pointer; font-weight: 900; margin-top: 10px; }\n\n    .errorBox {\n      margin-top: 12px; padding: 12px; border-radius: 12px;\n      border: 1px solid #ffbdbd; background:#ffe9e9; color:#8a1f1f; font-size: 13px;\n    }\n    pre {\n      white-space: pre-wrap;\n      word-break: break-word;\n      background:#111;\n      color:#fff;\n      padding:10px;\n      border-radius:10px;\n      font-size:12px;\n      max-height: 260px;\n      overflow:auto;\n    }\n\n    .toggleRow { display:flex; align-items:center; gap:14px; flex-wrap:wrap; margin-top: 8px; }\n    .toggleRow input[type=\"checkbox\"] { transform: scale(1.1); }\n\n    .sliderWrap { display:flex; align-items:center; gap:10px; }\n    input[type=\"range\"] { width: 260px; }\n\n    .imgRow { display:flex; gap:16px; flex-wrap:wrap; margin-top: 10px; }\n    img.preview { max-width: 340px; border-radius: 12px; border:1px solid #eee; background:#fff; }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n    <div class=\"topRow\">\n      <div><h1>LakeHouse</h1></div>\n      <div class=\"mini\" id=\"modePill\"></div>\n    </div>\n\n    <div class=\"tabs\">\n      <div class=\"tab active\" data-tab=\"water\" onclick=\"switchTab('water')\">Water Quality</div>\n      <div class=\"tab\" data-tab=\"kpi\" onclick=\"switchTab('kpi')\">University KPI</div>\n      <div class=\"tab\" data-tab=\"tumor\" onclick=\"switchTab('tumor')\">Tumor</div>\n      <div class=\"tab\" data-tab=\"future\" onclick=\"switchTab('future')\">Future Work</div>\n    </div>\n\n    <div class=\"divider\"></div>\n\n    <!-- WATER -->\n    <div class=\"panel active\" id=\"panel-water\">\n      <h2 style=\"margin:0;\">Water Quality</h2>\n\n      <div class=\"grid\">\n  <div class=\"field\"><label for=\"ph\">pH</label><input id=\"ph\" type=\"number\" step=\"0.1\" value=\"7.2\"/></div>\n  <div class=\"field\"><label for=\"nitrate\">Nitrate</label><input id=\"nitrate\" type=\"number\" step=\"0.1\" value=\"10\"/></div>\n  <div class=\"field\"><label for=\"chloride\">Chloride</label><input id=\"chloride\" type=\"number\" step=\"0.1\" value=\"100\"/></div>\n\n  <div class=\"field\"><label for=\"lead\">Lead</label><input id=\"lead\" type=\"number\" step=\"0.1\" value=\"0.01\"/></div>\n  <div class=\"field\"><label for=\"turbidity\">Turbidity</label><input id=\"turbidity\" type=\"number\" step=\"0.1\" value=\"4\"/></div>\n  <div class=\"field\"><label for=\"sulfate\">Sulfate</label><input id=\"sulfate\" type=\"number\" step=\"0.1\" value=\"300\"/></div>\n\n  <div class=\"field\"><label for=\"conductivity\">Conductivity</label><input id=\"conductivity\" type=\"number\" step=\"0.1\" value=\"400\"/></div>\n  <div class=\"field\"><label for=\"tds\">Total Dissolved Solids</label><input id=\"tds\" type=\"number\" step=\"0.1\" value=\"500\"/></div>\n</div>\n\n      <div class=\"toggleRow\">\n        <label><input type=\"checkbox\" id=\"waterCompareToggle\" checked /> Compare clean vs noise</label>\n        <label><input type=\"checkbox\" id=\"waterNoiseToggle\" checked /> Enable random noise</label>\n        <div class=\"sliderWrap\">\n          <span class=\"mini\"><b>Noise strength</b></span>\n          <input id=\"waterNoiseStrength\" type=\"range\" min=\"0\" max=\"1\" step=\"0.05\" value=\"0.2\" />\n          <span class=\"mini\" id=\"waterNoiseVal\">0.20</span>\n        </div>\n      </div>\n\n      <div class=\"actions\">\n        <button class=\"primary\" type=\"button\" onclick=\"runWater()\">Run Water Check</button>\n        <span class=\"mini\" id=\"waterEndpoint\"></span>\n      </div>\n\n      <div id=\"waterResult\" style=\"margin-top:16px;\"></div>\n    </div>\n\n    <!-- KPI -->\n    <div class=\"panel\" id=\"panel-kpi\">\n      <h2 style=\"margin:0;\">University KPI Forecast</h2>\n\n      <div class=\"grid2\">\n        <div class=\"field\">\n          <label for=\"uni\">University</label>\n          <select id=\"uni\">\n            <option value=\"boise\">boise</option>\n            <option value=\"eastern_oregon\">eastern_oregon</option>\n            <option value=\"uab\">uab</option>\n          </select>\n        </div>\n\n        <div class=\"field\">\n          <label for=\"kpiMetric\">Metric</label>\n          <select id=\"kpiMetric\">\n            <option value=\"Enrollment\">Enrollment</option>\n            <option value=\"Employees\">Employees</option>\n            <!-- FIXED: value must match backend available_targets -->\n            <option value=\"R&amp;D Expenditure (Millions USD)\">R&amp;D Expenditure</option>\n            <option value=\"Total_Graduates\">Total Graduates</option>\n          </select>\n        </div>\n\n        <div class=\"field\">\n          <label>Forecast steps</label>\n          <div class=\"sliderWrap\">\n            <input id=\"kpiSteps\" type=\"range\" min=\"1\" max=\"10\" step=\"1\" value=\"5\" />\n            <span class=\"mini\" id=\"kpiStepsVal\">5</span>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"actions\">\n        <button class=\"primary\" type=\"button\" onclick=\"runKpi()\">Run KPI</button>\n        <span class=\"mini\" id=\"kpiEndpoint\"></span>\n      </div>\n\n      <div id=\"kpiResult\" style=\"margin-top:16px;\"></div>\n    </div>\n\n    <!-- TUMOR -->\n    <div class=\"panel\" id=\"panel-tumor\">\n      <h2 style=\"margin:0;\">Tumor Detection</h2>\n\n      <div class=\"field\" style=\"margin-top:12px;\">\n        <label for=\"mriFile\">Upload MRI</label>\n        <input id=\"mriFile\" type=\"file\" accept=\"image/*\" />\n      </div>\n\n      <div class=\"toggleRow\">\n        <label><input type=\"checkbox\" id=\"tumorCompareToggle\" /> Compare clean vs noisy image</label>\n        <div class=\"sliderWrap\">\n          <span class=\"mini\"><b>Image noise strength</b></span>\n          <input id=\"tumorNoiseStrength\" type=\"range\" min=\"0\" max=\"1\" step=\"0.05\" value=\"0.2\" />\n          <span class=\"mini\" id=\"tumorNoiseVal\">0.20</span>\n        </div>\n      </div>\n\n      <div class=\"actions\">\n        <button class=\"primary\" type=\"button\" onclick=\"runTumor()\">Run Tumor</button>\n        <span class=\"mini\" id=\"tumorEndpoint\"></span>\n      </div>\n\n      <div id=\"tumorResult\" style=\"margin-top:16px;\"></div>\n    </div>\n\n    <!-- FUTURE WORK -->\n    <div class=\"panel\" id=\"panel-future\">\n      <h2 style=\"margin:0;\">Future Work</h2>\n      <div class=\"mini\" style=\"margin-top:8px;\">\n        More features to be added soon.\n      </div>\n    </div>\n\n    <script>\n      function isTestMode() { return window.location.pathname.includes(\"/webhook-test/\"); }\n      function baseWebhook() { return window.location.origin + (isTestMode() ? \"/webhook-test\" : \"/webhook\"); }\n      function apiUrl() { return baseWebhook() + \"/lakehouse\"; }\n      function setModePill() {\n        document.getElementById(\"modePill\").textContent = \"Mode: \" + (isTestMode() ? \"TEST\" : \"PROD\");\n      }\n\n      function switchTab(name) {\n        document.querySelectorAll(\".tab\").forEach(function(t){\n          t.classList.toggle(\"active\", t.dataset.tab === name);\n        });\n        document.querySelectorAll(\".panel\").forEach(function(p){\n          p.classList.toggle(\"active\", p.id === \"panel-\" + name);\n        });\n        var shown = apiUrl().replace(window.location.origin, \"\");\n        document.getElementById(\"waterEndpoint\").textContent = \"Endpoint: POST \" + shown;\n        document.getElementById(\"kpiEndpoint\").textContent   = \"Endpoint: POST \" + shown;\n        document.getElementById(\"tumorEndpoint\").textContent = \"Endpoint: POST \" + shown;\n      }\n\n      function esc(str) {\n        return String(str ?? \"\").replace(/[&<>\"']/g, function(m){\n          return ({ \"&\":\"&amp;\",\"<\":\"&lt;\",\">\":\"&gt;\",'\"':\"&quot;\",\"'\":\"&#39;\" })[m];\n        });\n      }\n\n      // keep UI readable for huge fields (base64/probabilities)\n      function niceText(v) {\n        var s = \"\";\n        try { s = (typeof v === \"object\") ? JSON.stringify(v) : String(v); } catch(e) { s = String(v); }\n        if (s.length > 220) return s.slice(0, 120) + \" ... \" + s.slice(-60);\n        return s;\n      }\n\n      function normalizeN8nResponse(data) {\n        var obj = Array.isArray(data) ? (data[0] || {}) : (data || {});\n        if (obj && obj.body && typeof obj.body === \"object\") return obj.body;\n        if (obj && obj.json && typeof obj.json === \"object\") return obj.json;\n        return obj;\n      }\n\n      function kvTable(obj) {\n        var entries = Object.entries(obj || {});\n        var rows = entries.map(function(pair){\n          var k = pair[0], v = pair[1];\n          return \"<tr><td>\" + esc(k) + \"</td><td>\" + esc(niceText(v)) + \"</td></tr>\";\n        }).join(\"\");\n        return \"<table><tr><th>Field</th><th>Value</th></tr>\" + (rows || \"<tr><td colspan='2'>No data</td></tr>\") + \"</table>\";\n      }\n\n      async function postJSON(url, payload, timeoutMs) {\n        timeoutMs = timeoutMs || 30000;\n        var controller = new AbortController();\n        var t = setTimeout(function(){ controller.abort(); }, timeoutMs);\n        try {\n          var res = await fetch(url, {\n            method: \"POST\",\n            headers: { \"Content-Type\": \"application/json\" },\n            body: JSON.stringify(payload),\n            signal: controller.signal,\n          });\n          var rawText = await res.text();\n          var data;\n          try { data = JSON.parse(rawText); } catch(e) { data = { raw: rawText }; }\n          return { ok: res.ok, status: res.status, data: data, rawText: rawText };\n        } finally {\n          clearTimeout(t);\n        }\n      }\n\n      async function postFormData(url, formData, timeoutMs) {\n        timeoutMs = timeoutMs || 120000;\n        var controller = new AbortController();\n        var t = setTimeout(function(){ controller.abort(); }, timeoutMs);\n        try {\n          var res = await fetch(url, { method: \"POST\", body: formData, signal: controller.signal });\n          var rawText = await res.text();\n          var data;\n          try { data = JSON.parse(rawText); } catch(e) { data = { raw: rawText }; }\n          return { ok: res.ok, status: res.status, data: data, rawText: rawText };\n        } finally {\n          clearTimeout(t);\n        }\n      }\n\n      function waterVerdict(obj) {\n        var t = JSON.stringify(obj || {}).toUpperCase();\n        if (typeof obj.potable === \"boolean\") return obj.potable ? \"GOOD\" : \"BAD\";\n        if (typeof obj.safe === \"boolean\") return obj.safe ? \"GOOD\" : \"BAD\";\n        if (t.includes(\"UNSAFE\") || t.includes(\"NOT POTABLE\")) return \"BAD\";\n        if (t.includes(\"SAFE\") || t.includes(\"POTABLE\")) return \"GOOD\";\n        return \"UNKNOWN\";\n      }\n\n      function kpiVerdict(obj) {\n        var arr = obj.final_forecast || obj.lstm_forecast || obj.rf_forecast || obj.forecast;\n        if (!Array.isArray(arr) || arr.length < 2) return \"UNKNOWN\";\n        var first = Number(arr[0]);\n        var last  = Number(arr[arr.length - 1]);\n        if (!Number.isFinite(first) || !Number.isFinite(last)) return \"UNKNOWN\";\n        return (last >= first) ? \"GOOD\" : \"BAD\";\n      }\n\n      function tumorVerdict(obj) {\n        var label = String(obj.class || obj.label || obj.prediction || \"\").toLowerCase();\n        if (!label) return \"UNKNOWN\";\n        var tumorPresent = (label !== \"notumor\" && !label.includes(\"no_tumor\") && !label.includes(\"no tumor\"));\n        return tumorPresent ? \"GOOD\" : \"BAD\";\n      }\n\n      function badgeFor(task, verdict) {\n        var text = \"UNKNOWN\";\n        if (task === \"water\") text = verdict === \"GOOD\" ? \"SAFE\" : (verdict === \"BAD\" ? \"UNSAFE\" : \"UNKNOWN\");\n        if (task === \"kpi\")   text = verdict === \"GOOD\" ? \"GOOD TREND\" : (verdict === \"BAD\" ? \"DOWN TREND\" : \"UNKNOWN\");\n        if (task === \"tumor\") text = verdict === \"GOOD\" ? \"TUMOR PRESENT\" : (verdict === \"BAD\" ? \"NO TUMOR\" : \"UNKNOWN\");\n        var cls = verdict === \"GOOD\" ? \"good\" : (verdict === \"BAD\" ? \"bad\" : \"unknown\");\n        return { text: text, cls: cls };\n      }\n\n      // ✅ UPDATED: removed \"Raw response\" section\n      function renderResultCard(title, task, obj, rawText, httpStatus, extraHtml) {\n        extraHtml = extraHtml || \"\";\n        var verdict =\n          (task === \"water\") ? waterVerdict(obj) :\n          (task === \"kpi\")   ? kpiVerdict(obj) :\n          (task === \"tumor\") ? tumorVerdict(obj) : \"UNKNOWN\";\n\n        var badge = badgeFor(task, verdict);\n\n        return \"\"\n          + \"<div class='card'>\"\n          +   \"<div style='display:flex; justify-content:space-between; align-items:center;'>\"\n          +     \"<div style='font-weight:900;'>\" + esc(title) + \"</div>\"\n          +     \"<span class='badge \" + esc(badge.cls) + \"'>\" + esc(badge.text) + \"</span>\"\n          +   \"</div>\"\n          +   \"<div class='mini'>HTTP \" + esc(httpStatus) + \"</div>\"\n          +   extraHtml\n          +   \"<details open>\"\n          +     \"<summary>View details</summary>\"\n          +     kvTable(obj)\n          +   \"</details>\"\n          + \"</div>\";\n      }\n\n      function readNumber(id) { return Number(document.getElementById(id).value); }\n      function clampNonNegative(x) { return (!Number.isFinite(x) ? x : (x < 0 ? 0 : x)); }\n\n      function addRandomNoiseToNumbers(payload, strength) {\n        var out = Object.assign({}, payload);\n        Object.keys(out).forEach(function(k){\n          if (k === \"task\") return;\n          var v = Number(out[k]);\n          if (!Number.isFinite(v)) return;\n          var r = (Math.random() * 2) - 1;\n          var delta = v * strength * r;\n          out[k] = clampNonNegative(Number((v + delta).toFixed(4)));\n        });\n        return out;\n      }\n\n      async function runWater() {\n        var out = document.getElementById(\"waterResult\");\n        out.innerHTML = \"<b>Running...</b>\";\n\n        var url = apiUrl();\n        var compare = document.getElementById(\"waterCompareToggle\").checked;\n        var noiseOn = document.getElementById(\"waterNoiseToggle\").checked;\n        var strength = Number(document.getElementById(\"waterNoiseStrength\").value || 0.2);\n\n        var clean = {\n          task: \"water\",\n          ph: readNumber(\"ph\"),\n          Nitrate: readNumber(\"nitrate\"),\n          Chloride: readNumber(\"chloride\"),\n          Lead: readNumber(\"lead\"),\n          Turbidity: readNumber(\"turbidity\"),\n          Sulfate: readNumber(\"sulfate\"),\n          Conductivity: readNumber(\"conductivity\"),\n          \"Total Dissolved Solids\": readNumber(\"tds\"),\n        };\n\n        var noisy = noiseOn ? addRandomNoiseToNumbers(clean, strength) : Object.assign({}, clean);\n\n        try {\n          if (compare) {\n            var both = await Promise.all([ postJSON(url, clean), postJSON(url, noisy) ]);\n            var r1 = both[0], r2 = both[1];\n            var o1 = normalizeN8nResponse(r1.data);\n            var o2 = normalizeN8nResponse(r2.data);\n\n            out.innerHTML =\n              \"<div class='row'>\"\n              + \"<div class='card'><div style='font-weight:900;'>Inputs sent (clean)</div>\" + kvTable(clean) + \"</div>\"\n              + \"<div class='card'><div style='font-weight:900;'>Inputs sent (after noise)</div>\" + kvTable(noisy) + \"</div>\"\n              + \"</div>\"\n              + \"<div class='row'>\"\n              + renderResultCard(\"Clean Result\", \"water\", o1, r1.rawText, r1.status, \"\")\n              + renderResultCard(\"Noisy Result\", \"water\", o2, r2.rawText, r2.status, \"\")\n              + \"</div>\";\n          } else {\n            var chosen = noiseOn ? noisy : clean;\n            var r = await postJSON(url, chosen);\n            var o = normalizeN8nResponse(r.data);\n\n            out.innerHTML =\n              \"<div class='row'>\"\n              + \"<div class='card'><div style='font-weight:900;'>Inputs sent</div>\" + kvTable(chosen) + \"</div>\"\n              + \"</div>\"\n              + \"<div class='row'>\"\n              + renderResultCard(noiseOn ? \"Noisy Result\" : \"Clean Result\", \"water\", o, r.rawText, r.status, \"\")\n              + \"</div>\";\n          }\n        } catch (err) {\n          out.innerHTML = \"<div class='errorBox'><b>Network/UI error</b><pre>\" + esc(String(err)) + \"</pre></div>\";\n        }\n      }\n\n      async function runKpi() {\n        var out = document.getElementById(\"kpiResult\");\n        out.innerHTML = \"<b>Running...</b>\";\n\n        var url = apiUrl();\n        var university = document.getElementById(\"uni\").value;\n        var metric = document.getElementById(\"kpiMetric\").value;\n        var steps = Number(document.getElementById(\"kpiSteps\").value);\n\n        var payload = { task: \"kpi\", university: university, metric: metric, steps: steps };\n\n        try {\n          var r = await postJSON(url, payload);\n          var o = normalizeN8nResponse(r.data);\n\n          var forecast = o.final_forecast || o.lstm_forecast || o.rf_forecast || o.forecast;\n          var idx = o.future_index || o.index || o.dates;\n\n          var forecastTable = \"<div class='mini'>No forecast array returned.</div>\";\n          if (Array.isArray(forecast)) {\n            var rows = forecast.map(function(v, i){\n              var d = Array.isArray(idx) ? idx[i] : (i + 1);\n              return \"<tr><td>\" + esc(d) + \"</td><td>\" + esc(niceText(v)) + \"</td></tr>\";\n            }).join(\"\");\n            forecastTable =\n              \"<details open>\"\n              + \"<summary>Forecast result</summary>\"\n              + \"<table><tr><th>Step/Date</th><th>Forecast</th></tr>\" + rows + \"</table>\"\n              + \"</details>\";\n          }\n\n          out.innerHTML =\n            \"<div class='row'>\"\n            + \"<div class='card'><div style='font-weight:900;'>Inputs sent</div>\" + kvTable(payload) + \"</div>\"\n            + \"</div>\"\n            + \"<div class='row'>\"\n            + renderResultCard(\"KPI Forecast\", \"kpi\", o, r.rawText, r.status, forecastTable)\n            + \"</div>\";\n        } catch (err) {\n          out.innerHTML = \"<div class='errorBox'><b>Network/UI error</b><pre>\" + esc(String(err)) + \"</pre></div>\";\n        }\n      }\n\n      // Tumor\n      var uploadedMriDataUrl = \"\";\n\n      function readFileAsDataUrl(file) {\n        return new Promise(function(resolve, reject){\n          var reader = new FileReader();\n          reader.onload = function(){ resolve(String(reader.result || \"\")); };\n          reader.onerror = reject;\n          reader.readAsDataURL(file);\n        });\n      }\n\n      function getMaskDataUrl(obj) {\n        if (!obj) return \"\";\n        var b64 = obj.segmentation_mask_png_base64 || obj.segmentation_mask_base64 || obj.mask_base64 || obj.mask_png_base64 || \"\";\n        if (typeof b64 === \"string\" && b64.length > 0) {\n          if (b64.startsWith(\"data:image/\")) return b64;\n          return \"data:image/png;base64,\" + b64;\n        }\n        if (obj.mask && obj.mask.data && typeof obj.mask.data === \"string\") {\n          var mt = obj.mask.mimeType || \"image/png\";\n          if (obj.mask.data.startsWith(\"data:\")) return obj.mask.data;\n          return \"data:\" + mt + \";base64,\" + obj.mask.data;\n        }\n        return \"\";\n      }\n\n      function uploadedImageHtml() {\n        if (!uploadedMriDataUrl) return \"\";\n        return \"\"\n          + \"<details open>\"\n          + \"<summary>Uploaded MRI</summary>\"\n          + \"<div class='actions' style='margin-top:10px;'>\"\n          + \"<button class='ghost' type='button' onclick=\\\\\"window.open('\" + uploadedMriDataUrl + \"','_blank')\\\\\">View image</button>\"\n          + \"</div>\"\n          + \"<div class='imgRow'><img class='preview' alt='Uploaded MRI' src='\" + uploadedMriDataUrl + \"'/></div>\"\n          + \"</details>\";\n      }\n\n      function maskHtmlFromObj(obj, title) {\n        var dataUrl = getMaskDataUrl(obj);\n        if (!dataUrl) return \"<div class='mini'>No segmented image returned.</div>\";\n        return \"\"\n          + \"<details open>\"\n          + \"<summary>\" + esc(title) + \"</summary>\"\n          + \"<div class='actions' style='margin-top:10px;'>\"\n          + \"<button class='ghost' type='button' onclick=\\\\\"window.open('\" + dataUrl + \"','_blank')\\\\\">View segmented image</button>\"\n          + \"</div>\"\n          + \"<div class='imgRow'><img class='preview' alt='Segmentation mask' src='\" + dataUrl + \"'/></div>\"\n          + \"</details>\";\n      }\n\n      async function runTumorOnce(fileBlobOrFile, fileName, noteText) {\n        var fd = new FormData();\n        fd.append(\"task\", \"tumor\");\n        fd.append(\"file0\", fileBlobOrFile, fileName);\n        if (noteText) fd.append(\"note\", noteText);\n        return await postFormData(apiUrl(), fd, 120000);\n      }\n\n      async function runTumor() {\n        var out = document.getElementById(\"tumorResult\");\n        out.innerHTML = \"<b>Running...</b>\";\n\n        var fileInput = document.getElementById(\"mriFile\");\n        var f = fileInput.files && fileInput.files[0];\n        if (!f) {\n          out.innerHTML = \"<div class='errorBox'><b>Please upload an MRI image first.</b></div>\";\n          return;\n        }\n\n        try { uploadedMriDataUrl = await readFileAsDataUrl(f); } catch(e) { uploadedMriDataUrl = \"\"; }\n\n        try {\n          var r = await runTumorOnce(f, f.name, \"\");\n          var o = normalizeN8nResponse(r.data);\n\n          var extra = uploadedImageHtml() + maskHtmlFromObj(o, \"Segmented image\");\n\n          out.innerHTML =\n            \"<div class='row'>\"\n            + \"<div class='card'><div style='font-weight:900;'>Inputs sent</div>\" + kvTable({ task:\"tumor\", file: f.name }) + \"</div>\"\n            + \"</div>\"\n            + \"<div class='row'>\"\n            + renderResultCard(\"Tumor Result\", \"tumor\", o, r.rawText, r.status, extra)\n            + \"</div>\";\n\n        } catch (err) {\n          out.innerHTML = \"<div class='errorBox'><b>Network/UI error</b><pre>\" + esc(String(err)) + \"</pre></div>\";\n        }\n      }\n\n      // UI live values\n      document.getElementById(\"waterNoiseStrength\").addEventListener(\"input\", function(e){\n        document.getElementById(\"waterNoiseVal\").textContent = Number(e.target.value).toFixed(2);\n      });\n      document.getElementById(\"tumorNoiseStrength\").addEventListener(\"input\", function(e){\n        document.getElementById(\"tumorNoiseVal\").textContent = Number(e.target.value).toFixed(2);\n      });\n      document.getElementById(\"kpiSteps\").addEventListener(\"input\", function(e){\n        document.getElementById(\"kpiStepsVal\").textContent = e.target.value;\n      });\n\n      document.getElementById(\"mriFile\").addEventListener(\"change\", async function(e){\n        var f = e.target.files && e.target.files[0];\n        if (!f) { uploadedMriDataUrl = \"\"; return; }\n        try { uploadedMriDataUrl = await readFileAsDataUrl(f); } catch(err) { uploadedMriDataUrl = \"\"; }\n      });\n\n      // init\n      setModePill();\n      switchTab(\"water\");\n      document.getElementById(\"waterNoiseVal\").textContent = Number(document.getElementById(\"waterNoiseStrength\").value).toFixed(2);\n      document.getElementById(\"tumorNoiseVal\").textContent = Number(document.getElementById(\"tumorNoiseStrength\").value).toFixed(2);\n      document.getElementById(\"kpiStepsVal\").textContent = document.getElementById(\"kpiSteps\").value;\n    </script>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { body: html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "66353d97-6788-4de1-8e74-0330f9587b99",
      "name": "UI: Build Home Page (HTML Form)"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.body}}\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        0
      ],
      "id": "607950f1-7261-41d8-bffc-765228b18384",
      "name": "UI: Show Home Page"
    },
    {
      "parameters": {
        "path": "lakehouse-ui",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "24d5209f-f800-4834-a1a0-afabcba4f27b",
      "name": "UI",
      "webhookId": "f225a726-8743-4338-b798-c25b32104add"
    }
  ],
  "pinData": {},
  "connections": {
    "UI: Build Home Page (HTML Form)": {
      "main": [
        [
          {
            "node": "UI: Show Home Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UI": {
      "main": [
        [
          {
            "node": "UI: Build Home Page (HTML Form)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5a99efd1-e007-4b77-9469-399a03561ea1",
  "meta": {
    "instanceId": "ad2540c06c9d26b1a10ba86b48e51b1f3a20f6a0b05f00abb504ab2bb4dbb2f0"
  },
  "id": "o4RHdG8ji3kgTGb3gghra",
  "tags": []
}